note {
  -moz-binding: url("note.xml#note");
  position: fixed;
}

note[kind=image] {
  -moz-binding: url("note.xml#image");
}

note[kind=flickr] {
  -moz-binding: url("note.xml#flickr");
}

note[kind=book] {
  -moz-binding: url("note.xml#book");
}

note image.icon {
  list-style-image: url("chrome://finally/skin/famfamfam/text_dropcaps.png");
  min-width: 16px;
  max-width: 16px;
  min-height: 16px;
  max-height: 16px;
  margin: 4px;
}

note[kind=book] image.icon {
  list-style-image: url("chrome://finally/skin/famfamfam/book.png");
}


note[kind=link] image.icon {
  list-style-image: url("chrome://finally/skin/famfamfam/link.png");
}

note[kind=image] image.icon {
  list-style-image: url("chrome://finally/skin/famfamfam/image.png");
}

note[kind=flickr] image.icon {
  list-style-image: url("chrome://finally/skin/famfamfam/image.png");
}

note[kind=image] img  {
  max-width: 100px;
  max-height: 100px;
}

note[kind=image]:hover img  {
  max-width: 300px;
  max-height: 300px;
}

note {
  font-size: 10px;
}

note .extended {
  display: none;
}

note:hover .extended {
  display: inherit;
}

note:hover {
  z-index: 42;
}

note[kind=flickr]:hover img[anonid=thumb] {
  display: none;
}
